{% extends 'base/main.html' %}
{% load static %}
{% load util_tags %}
{% block content %}
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Name</th>
            <th>Active</th>
            <th>Charge on<br>Billing Day</th>
            <th>Update Charge<br>Status</th>
            <th>Transactions</th>
        </tr>
        {% for buyer in buyers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'list-usage' buyer.id %}" class="table-link">{{ buyer.email }}</a></td>
                <td>{{ buyer.get_full_name | value_or_na }}</td>
                {% if buyer.is_active %}
                    <td><img src="{% static 'images/active.png' %}" alt="Active" class="icon-img"></td>
                {% else %}
                    <td><img src="{% static 'images/inactive.png' %}" alt="Not Active" class="icon-img"></td>
                {% endif %}

                {% if buyer.profile.charge_on_billing_day %}
                    <td><img src="{% static 'images/active.png' %}" alt="Active" class="icon-img"></td>
                {% else %}
                    <td><img src="{% static 'images/inactive.png' %}" alt="Not Active" class="icon-img"></td>
                {% endif %}
                {% if buyer.profile.charge_on_billing_day %}
                    <td>
                        <button class="btn btn-success" disabled>Charging</button>
                    </td>
                {% else %}
                    <td><a href="{% url 'toggle-buyers-payment' buyer.id %}" class="btn btn-primary">Charge</a></td>
                {% endif %}
                <td><a href="{% url 'list-transactions' buyer.id %}" class="btn">view transactions</a></td>

            </tr>

        {% endfor %}
    </table>
{% endblock %}