{% extends 'base/main.html' %}
{% load util_tags %}
{% block content %}
    <div class="mt-5"></div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img src="{{ user.profile_img.url }}" alt="Profile Image" class="profile-img">
        </div>
        <div class="col-md-6 col-sm-12">

            <div class="info-box-col mt-2">
                <div class="info-header">
                    <h3>{{ user.get_full_name | value_or_na }}</h3>
                </div>
                <div class="info-body">
                    <table class="table table-borderless">
                        <tr>
                            <th>First name</th>
                            <td>{{ user.first_name | value_or_na }}</td>
                        </tr>
                        <tr>
                            <th>Last name</th>
                            <td>{{ user.last_name | value_or_na }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email | value_or_na }}</td>
                        </tr>
                        <tr>
                            <th>User Type</th>
                            <td>{% if user.is_admin %}Admin{% else %}Buyer{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}