{% extends 'base/main.html' %}
{% load util_tags %}
{% block content %}
    {% if not request.user.profile.payment_authorized %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    Authorize payment in profile to subscribe to plans
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% for plan in plans %}
            <div class="col-md-4 col-sm-12">
                <div class="info-box-col mt-2 mb-2">
                    <div class="info-header">
                        <h3>{{ plan.name }}</h3>
                    </div>
                    <div class="info-body">
                        <table class="table table-borderless">
                            <tr>
                                <th>Monthly Fee</th>
                                <td>{{ plan.monthly_fee }}$</td>
                            </tr>
                            <tr>
                                <th>Features</th>
                                <td>
                                    <ul>
                                        {% for item in plan.features.all %}
                                            <li><a href="{% url 'feature-details' item.id %}">{{ item.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="info-box-footer">
                        <div class="center-items pb-4">
                            {% with subscribed=plan|subscribed:request.user %}
                                {% if not subscribed and request.user.profile.payment_authorized %}
                                    <a href="{% url 'subscribe' plan.id %}" class="btn btn-primary">Subscribe</a>
                                {% else %}
                                    <button disabled class="btn btn-secondary">Subscribe</button>
                                {% endif %}
                            {% endwith %}

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}